.shelf-name{
    display: block;
    color: $color-text-default;
    font-weight: 600;
    margin: 0 0 10px 0;  

    @media (min-width: $screen-lg) {
        font-size: 12px;
        line-height: 18px;
        height: 35px;        
    }
    
    @media (max-width: $screen-lg) {
        font-size: 10px;
        line-height: 14px;
        height: 30px;        
    }
}