.shelf-listPrice{
    color: $color-text-default-alt;
    font-weight: 400;
    margin: 0 0 3px 0;

    @media (min-width: $screen-lg) {
        font-size: 12px;
        line-height: 14px;
        height: 14px;
    }
    
    @media (max-width: $screen-lg) {
        font-size: 10px;
        line-height: 12px;
        height: 12px;
    }
}

.shelf-bestPrice{
    font-weight: 700;

    @media (min-width: $screen-lg) {
        font-size: 18px;
        line-height: 24px;
        height: 24px;
        margin: 0 0 5px 0;
    }
    
    @media (max-width: $screen-lg) {
        font-size: 15px;
        line-height: 20px;
        height: 20px;
        margin: 0 0 3px 0;
    }
}

.shelf-installments{
    color: $color-text-default-alt;
    font-weight: 400;
    margin: 0;

    @media (min-width: $screen-lg) {
        font-size: 10.5px;
        line-height: 14px;
        height: 14px;
    }
    
    @media (max-width: $screen-lg) {
        font-size: 10px;
        line-height: 12px;
        height: 12px;
    }
}