/* Botão de Compra */
.bt-goCheckout{
    background: $color-goCheckout;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;    
    transition: .3s;
    user-select: none;

    @media (min-width: $screen-lg){
        &:hover{
            background: $color-goCheckout-hover;
        }
    }
}
