//Palheta de cores da loja
$color-primary: #000000;
$color-primary-hover: #000000b3;

$color-secondary: #F8475F;
$color-secondary-hover: #F8475Fb3;

$color-goCheckout: #000000;
$color-goCheckout-hover: #000000b3;

$color-text-default: #000000;
$color-text-default-alt: #7A7A7A;
